@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  height: 80px;
  display: flex;
}
img {
  width: 100%;
}
.nav-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  position: relative;
}
.shoegame-logo {
  width: 250px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
.nav-link,
.footer-link {
  margin: 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(1, 155, 216);
  font-size: 24px;
  padding: 8px;
}
a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.no-cursor {
  cursor: no-drop;
}
.no-cursor:hover {
  text-decoration: none;
  opacity: 1;
}
.shoes-link {
  border: 2px rgb(1, 155, 216) solid;
  border-radius: 4px;
  transition: all 200ms ease;
}
.shoes-link:hover {
  background-color: rgb(1, 155, 216);
  color: white;
}
.menu-close,
.menu {
  position: absolute;
  right: 12px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
}
.menu {
  background-color: transparent;
  border: none;
  color: rgb(1, 155, 216);
  position: absolute;
  display: none;
}
.menu-close {
  color: white;
}

.menu-backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}
.menu-open .menu-backdrop {
  visibility: visible;
  opacity: 1;
}
.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-list {
  padding: 32px 0;
}
.menu-link {
  color: white;
  font-size: 40px;
  text-decoration: none;
}
.menu-open {
  max-height: 100vh;
  overflow-y: hidden;
}

#page {
  background-color: #def5fc;
}
header {
  height: calc(100vh - 80px);
}
.blue-text {
  color: rgb(1, 155, 216);
}
.header-container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 56px;
  color: rgb(1, 155, 216);
  margin-bottom: 24px;
  text-align: center;
}
h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}
h4 {
  color: white;
  font-weight: bold;
}
button {
  cursor: pointer;
  transition: all 200ms ease;
}
button:hover {
  opacity: 0.8;
}
button:active {
  transform: translateY(2px);
}
.browse-button {
  background-color: rgb(1, 155, 216);
  color: white;
  padding: 12px 24px;
  font-size: 32px;
  border-radius: 4px;
  border: none;
}
.header-img-wrapper {
  padding: 12px;

  z-index: 2;
}
#highlights {
  position: relative;
  max-width: 100vw;
  background-color: white;
}
#highlights:before,
#highlights:after {
  background: url(./assets/wave.svg);
  position: absolute;
  content: "";
  width: 100vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}
#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}
.container {
  padding: 40px;
}
.footer-container {
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
h3 {
  text-align: center;
  font-size: 32px;
}
.highlights-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 40px;
  width: calc(100% / 3);
}
.icon {
  padding: 24px;
  border: 2px rgb(223, 222, 222) solid;
  font-size: 40px;
  color: rgb(1, 155, 216);
  margin: 12px;
  border-radius: 4px;
  transition: all 300ms ease;
}
.fas:hover {
  transform: scale(0.85);
}
.highlight-p {
  padding: 12px 0;
  text-align: center;
  font-size: 20px;
}

#features {
  padding-top: 8vw;
  background-color: #def5fc;
}
.shoes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.shoe-wrapper {
  max-width: calc(100% / 3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.shoe-img-wrapper {
  border-radius: 4px;
  overflow: hidden;
  border: 2px black solid;
  background-color: white;
  height: 25vh;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 8px;
}
.shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.shoe-img {
  padding: 16px;
  transition: all 150ms ease;
  max-height: 115%;
  max-width: 90%;
}
.shoe-wrapper:hover .shoe-img {
  transform: scale(1.1);
}

.shoe-name {
  font-size: 22px;
  margin-bottom: 8px;
}
.shoe-name:hover {
  text-decoration: underline;
}
.shoe-price-slash {
  text-decoration: line-through;
  opacity: 0.7;
}
.shoe-price {
  font-size: 18px;
}
.shoe-rating {
  margin-bottom: 8px;
}
.fa-star,
.fa-star-half-alt {
  color: rgb(255, 208, 0);
}
#latest-arrivals {
  background-color: white;
}
#explore {
  background-color: #def5fc;
}
footer {
  background-color: rgb(44, 44, 44);
}
.footer-links {
  margin: 0 auto;
  margin: 24px 0;
}
.footer-link {
  padding: 0 40px;
  color: white;
  font-size: 24px;
}
.underline:hover {
  text-decoration: underline;
}
.copyright {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.logo-footer {
  filter: grayscale(1) invert(1) brightness(8);
}
.logo-link {
  text-decoration: none;
  position: relative;
}
.logo-footer:hover {
  opacity: 0.6;
}
.arrow-up {
  font-size: 24px;
  position: absolute;
  top: 30px;
  right: 0;
  color: white;
  opacity: 0;
  transition: all 300ms ease;
}
.logo-link:hover .arrow-up {
  opacity: 1;
  transform: translateX(80px);
}
/*
Shoe Page
*/

#shoes-body {
  background-color: #def5fc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
#shoes-main {
  flex: 1;
}
.shoe-page-container {
  padding: 28px 12px;
}
.back-arrow {
  position: absolute;
  top: -28px;
  left: 0;
  border-radius: 4px;
  border: 2px solid rgb(1, 155, 216);
  background-color: transparent;
  padding: 8px;
  font-weight: bold;
  margin: 12px 0 12px 16px;
  color: rgb(1, 155, 216);
  font-size: 16px;
}
.back-arrow:hover {
  background-color: rgb(1, 155, 216);
  color: white;
  opacity: 1;
}
.back-text:hover {
  text-decoration: underline;
}
.back-arrow-anchor:hover {
  opacity: 1;
}
select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}
.disabled-option {
  color: rgb(191, 191, 191);
}
.shoes-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
.all-shoes {
  margin: 0;
  padding: 0 16px;
}
.shoes-anchor {
  text-decoration: none;
  color: black;
}
.shoes-anchor:hover {
  opacity: 1;
}
.back-desc {
  top: 0;
  font-size: 20px;
  margin-left: 0;
  left: 60px;
}
.shoecont {
  position: relative;
  padding: 60px 60px 0 60px;
}
.shoe-description-container {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.shoe-description-img-wrapper {
  margin: 50px 28px 20px 0;
  padding-bottom: 30px;
  width: 30vw;
}
.shoe-description-img {
  max-height: 100%;
  top: 10%;
}
.shoe-description-info-wrapper {
  height: 100%;
  width: 50%;
  margin-left: 60px;
  position: relative;
  padding-bottom: 100px;
}
.womans {
  color: #606266;
  font-size: 14px;
}
.sizes {
  display: flex;
  flex-wrap: wrap;
}
.sizes-button {
  background-color: #e8f9ff;
  border: 1px #b9dce6 solid;
  padding: 8px 0;
  margin: 2px;
  width: calc(100% / 3 - 4px);
  border-radius: 4px;
}
.add-button-wrapper {
  display: flex;
  justify-content: center;
}
.add-to-cart {
  padding: 16px 0;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(1, 155, 216);
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  width: 100%;
}
.add-to-cart-anchor {
  position: absolute;
  width: 60%;
  bottom: 20px;
}
.info-text {
  text-align: left;
}
.recommended-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recommended-title {
  text-align: start;
  margin: 0;
  margin-left: 84px;
}
.recommended-shoes {
  padding: 0 60px;
}
.cart-container {
  height: 76vh;
}
.cart-subtitles {
  width: 100%;
  display: flex;
  margin: 0 24px;
  padding: 8px 16px;

  background-color: rgb(1, 155, 216);
}
.shoe-sub {
  width: 60%;
}
.quantity-sub {
  width: 40%;
}
.cart-quantity {
  display: flex;
  align-items: center;
}
.cart-quantity-input {
  width: 60px;
  padding: 8px;
}
.price-sub {
  max-width: 100px;
  width: 100%;
  text-align: end;
}
.cart-price {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}
.cart-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.cart-shoe-info {
  display: flex;
  padding: 32px 0;
  width: 60%;
}
.cart-order {
  width: 100%;
  display: flex;
}
.cart-img-wrapper {
  height: 110px;
  margin-bottom: 0;
}
.cart-img {
  max-width: 80%;
}
.cart-shoe-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 12px;
}
.shoe-cart-price {
  font-size: 20px;
}
.total {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  font-size: 20px;
  border-top: 1px rgb(1, 155, 216) solid;
  padding-top: 24px;
}
.total-component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.total-sub {
  color: black;
}
.total-final {
  font-weight: bold;
}
.checkout-button {
  position: unset;
  width: 100%;
  font-size: 22px;
}
@media (max-width: 768px) {
  .shoegame-logo {
    width: 200px;
  }
  .nav-link {
    font-size: 20px;
  }
  .header-text {
    padding: 0 24px;
  }
  h1 {
    font-size: 40px;
    margin-top: 100px;
  }
  h2 {
    font-size: 32px;
  }
  .browse-button {
    font-size: 16px;
  }
  .icon {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .highlight-p {
    font-size: 18px;
  }
  .highlight {
    width: calc(100% / 2);
    padding: 12px;
  }
  .shoe-wrapper {
    max-width: calc(100% / 2);
  }
  .logo-link:hover .arrow-up {
    transform: translateX(60px);
  }
  .footer-link {
    font-size: 20px;
    padding: 0 12px;
    margin: 8px;
  }
  .copyright {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
  .header-img-wrapper {
    padding-bottom: 80px;
  }
  .highlight {
    width: 100%;
  }
  .shoe-wrapper {
    max-width: 100%;
  }
  .footer-link {
    font-size: 16px;
    padding: 0 12px;
  }
  .arrow-up {
    font-size: 16px;
  }
}
@media (max-height: 768px) {
  header {
    height: 300%;
  }
}
@media (max-width: 480px) {
  .all-shoes {
    font-size: 28px;
  }
  select {
    max-width: 165px;
  }
}
